.objectivesWrapper {
  display: flex;
  position: fixed;
  right: 0;
  background-color: var(--accent-color);
  justify-content: center;
  gap: var(--obj-gap);
  padding: var(--obj-pd);
  border-radius: 2ch;
  color: var(--accent-text-color);
  margin-right: var(--obj-mg);
}

.objectiveWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--obj-gap);
  align-items: center;
}

.objectiveWrapper > img {
  width: 100px;
  height: auto;
}
