.objectivesWrapper {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  max-width: 210px;
  background-color: var(--accent-color);
  justify-content: center;
  gap: var(--obj-gap);
  padding: var(--obj-pd);
  border-radius: 2ch;
  color: var(--accent-text-color);
  margin: var(--obj-mg);
}

.objectiveWrapper {
  display: flex;
  max-width: 70px;
  flex-direction: column;
  gap: var(--obj-gap);
  align-items: center;
}

.objectiveWrapper > img {
  width: 100px;
  height: auto;
}
