.greetingContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/gameboards/gameboard_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.greetingContainer > a {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: var(--btn-pd-height) var(--btn-pd-width);
  border-radius: 2ch;
}
