.navContainer,
.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: var(--layout-padding);
}

.navContainer {
  margin-bottom: var(--layout-margin);
}

.navContainer,
.navContainer > ul > li > a {
  color: var(--accent-text-color);
  text-decoration: none;
  font-weight: 600;
}

.navContainer > ul {
  display: flex;
  gap: var(--list-gap);
  list-style: none;
}

.footerContainer {
  margin-top: var(--layout-margin);
  font-weight: 600;
}
